<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591067895192-q6u3eq7i4ri07asnq0apbhgbhp95tot3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591067895192-q6u3eq7i4ri07asnq0apbhgbhp95tot3</string>
	<key>API_KEY</key>
	<string>AIzaSyBYDn_SqoIBpwOuIxsPi-o8wvoUUZZMpoo</string>
	<key>GCM_SENDER_ID</key>
	<string>591067895192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.badriah.storeProject</string>
	<key>PROJECT_ID</key>
	<string>store-app-isc-242c0</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-isc-242c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591067895192:ios:e90535a45f39bf60ae87ed</string>
	<key>DATABASE_URL</key>
	<string>https://store-app-isc-242c0.firebaseio.com</string>
</dict>
</plist>